.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(15px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

#output {
	margin: 1rem;
	font-size: x-large;
}
#id1 {
	display: block;
	width: 50rem;
	height: 6rem;
	margin: 8px auto;
}
#input1 {
	width: 100%;
	height: 2rem;
	font-size: larger;
	padding: 1rem;
}
